[flake8]
max-line-length = 120

ignore = F541

exclude =
    .git,
    venv,
    .venv,
    __pycache__,
    build,
    dist,
    allure-results,
    allure_results,
    .pytest_cache,
    .idea,
    framework/grpc/clients
